@import "tailwindcss";

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Color de fondo Slate-900 para que el modo oscuro sea real */
    background-color: #0f172a;
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  }
}
